body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 0;
    }

    .page-title {
        font-size: 1.5em;
    }

    .add-record-modal .inside {
        width: 80%;
    }
}

.page-title {
    font-family: 'Poppins', sans-serif;
    color: #4c85f2;
    font-weight: bold;
    text-transform: uppercase;
}
.page-title small {
    text-transform: none;
    font-size: 0.7em;
}

.no-categories h3 {
    color: #4c85f2;
}

.category {
    height: 70vh;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: 2px 2px 12px -4px rgba(0, 0, 0, 0.3);
    padding: 0 1.5em;
    margin-right: 1em;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.category h5 {
    display: inline-block;
    font-size: 1.5em;
    color: #4d4d4d;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1.2em;
}

.delete-cat-btn {
    float: right;
    margin-top: 1.5em;
}

button.category-btn {
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    margin: 0;
    background-color: #4c85f2;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.3);
    transition: 300ms;
}
button.category-btn:hover {
    background-color: #2463db;
}

.new-log-btn {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 50%;
    color: #fff;
    background-color: #4c85f2;
    box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.3);
    transition: 150ms;
}
.new-log-btn.disabled,
.new-log-btn.disabled:hover,
.new-log-btn.disabled:active {
    background-color: #8fa2c2;
    cursor: not-allowed;
    box-shadow: 0px 0px 2px 1px;
}
.new-log-btn i {
    display: inline-block;
    font-size: 1.3em;
    position: relative;
    top: 15px;
}
.new-log-btn:hover {
    color: #fff;
    background-color: #3e70cf;
}
.new-log-btn:active {
    box-shadow: none;
    transform: translateY(1px);
}

.add-record-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    transition: 3s;
}
.add-record-modal .inside {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 25px;
    width: 40%;
    border-radius: 3px;
}
.add-record-modal.visible {
    display: block;
}

.inside h3 {
    color: #4c85f2;
    margin-bottom: 1.2em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
}

.modal-cancel-btn {
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    margin: 0;
    background-color: #f0134d;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.3);
    transition: 300ms;
}

.modal-cancel-btn:hover {
    background-color: #ce0e40;
}

.log-wrapper {
    margin: 0.5em 0;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #4c85f2;
    border-radius: 3px;
    box-shadow: 2px 2px 9px -3px rgba(0,0,0,0.5);
    transition: 150ms;
}

.log-wrapper:hover {
    transform: translateY(-3px);
}

.log-wrapper button {
    float: right;
}

.log-description {
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
}

.log-amount {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: #4c85f2;
    color: #fff;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 3px;
    margin-bottom: 4px;
}

.log-date {
    font-size: 0.8em;
    text-transform: uppercase;
}

.monthly-expense {
    background-color: #4c85f2;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 3px 9px;
    margin-right: 3px;
    border-radius: 3px;
}